<div class="container col-lg-10 col-lg-offset-1">
  <div class="jumbotron">
      <div class="container">
        <h3>Welcome to the Meraki Auto Port Configurator</h3>
        <p></p>
    </div>
  </div>
  <div class="container">
      <div class="row">        
        <div class="col-md-5">
          <h2>Auto Configurator Rules</h2>
          <p>The auto configurator rules allow you define rules that will be check in order until a match is found for the proper port profile to the attached device.</p>
        </div>
        <div class="col-md-5">
          <h2>Port Profiles</h2>
          <p>Port profiles allow you to define descriptive port profiles for your business.  Examples would be: AP switchport, phone switchport, desktop switchport etc...</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>Authors:  Matt Childers and Tim Wilhoit</p>
      </footer>
  </div> <!-- /container -->
  
</div>
